@import "tailwindcss";

@theme {
    --font-days: "Days One",  sans-serif;
    --color-swm-blue: #173ff1;
}

.nav-links {
    @apply border-b-2 border-transparent hover:border-white transition-colors
}

.input-field {
    @apply flex justify-center items-start text-swm-blue flex-col min-w-80 p-5 
}

.input-field input {
    @apply border-2 border-swm-blue px-3 py-2 rounded-xl w-full
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #64748b;
    border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #94a3b8;
}